<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0056)https://dashboard.stripe.com//invoice_editor_example/pdf -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        html,
        body,
        span {
            border: 0 !important;
            margin: 0 !important;
            outline: 0 !important;
            text-decoration: none !important;
        }

        a,
        span,
        td,
        th {
            -webkit-font-smoothing: antialiased !important;
        }

        table {
            border-collapse: separate;
        }

        /* For Chrome specific footer elements */
        .footer,
        .footer-space {
            height: auto;
        }

        .footer-space {
            padding-top: 20px;
        }

        @media only print {
            .footer {
                position: fixed;
                bottom: 0px;
            }
        }


        /* Required to make invoice PDF generation via Chrome work */
        #header,
        #footer {
            padding: 0 !important;
        }

        html {
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
        }

        /* typography */
        body {
            color: #000000;
            font-size: 12px;
            line-height: 150%;
            font-weight: 400;
        }

        a {
            color: #635BFF;
        }

        .blue {
            color: #635BFF;
        }

        .mid-gray {
            color: #757575;
        }

        .logo-gray {
            color: RGB(128, 128, 128);
        }

        .light-gray {
            color: #BFBFBF;
        }

        .h1 {
            font-weight: 600;
            font-size: 24px;
            line-height: 130%;
        }

        .h2 {
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;
        }

        .h3 {
            font-weight: 600;
            font-size: 16px;
            line-height: 130%;
        }

        .bold {
            font-weight: 600;
        }

        .medium {
            font-weight: 500;
        }

        .regular {
            font-weight: 400;
        }

        .caption {
            font-size: 9.5px;
            line-height: 140%;
            letter-spacing: 0%;
        }

        .nowrap {
            white-space: nowrap;
        }

        .break-word {
            word-wrap: break-word;
            word-break: break-word;
        }

        .fs-10 {
            font-size: 10px;
        }

        .fs-7point5 {
            font-size: 7.5px;
        }

        /* widths */
        .width-0 {
            width: 0%;
        }

        .width-12point5 {
            width: 12.5%;
        }

        .width-16point7 {
            width: 16.7%;
        }

        .width-25 {
            width: 25%;
        }

        .width-40 {
            width: 40%;
        }

        .width-50 {
            width: 50%;
        }

        .width-100 {
            width: 100%;
        }

        /* margin classes */
        .mb5 {
            margin-bottom: 5px;
        }

        .mb10 {
            margin-bottom: 10px;
        }

        .mb20 {
            margin-bottom: 20px;
        }

        .mb30 {
            margin-bottom: 30px;
        }

        .mt3 {
            margin-top: 3px;
        }

        .mt5 {
            margin-top: 5px;
        }

        .mt10 {
            margin-top: 10px;
        }

        .mt15 {
            margin-top: 15px;
        }

        .mt20 {
            margin-top: 20px;
        }

        /* padding classes */
        .pr5 {
            padding-right: 5px;
        }

        .pr8 {
            padding-right: 8px;
        }

        .pr15 {
            padding-right: 15px;
        }

        .pt10 {
            padding-top: 10px;
        }

        .pt20 {
            padding-top: 20px;
        }

        .pb5 {
            padding-bottom: 5px;
        }

        .pb10 {
            padding-bottom: 10px;
        }

        .pb30 {
            padding-bottom: 30px;
        }

        /* flex classes */
        .flex-horizontal {
            display: -webkit-box;
            -webkit-box-orient: horizontal;
        }

        .flex-justify {
            -webkit-box-pack: justify;
        }

        .flex-align-start {
            -webkit-box-align: start;
        }

        /* text alignment */
        .align-right {
            text-align: right;
        }

        /* misc */
        .logo-img {
            max-width: 168px;
            max-height: 54px;
        }

        .hidden {
            display: none;
        }

        .light-gray-border-top {
            border-top: 1px solid #EBEBEB;
            /* light gray */
        }

        .line-height-140 {
            line-height: 140%;
        }

        /* line item table */
        .line-item-table {
            width: 100%;
            overflow: hidden;
            table-layout: fixed;
        }

        .line-height-1point3 {
            line-height: 1.3
        }

        .bottom-valign {
            vertical-align: bottom
        }

        .center-valign {
            vertical-align: center
        }

        .table-headers>td {
            padding-bottom: 5px;
            font-size: 10px;
        }

        .line-item-row {
            page-break-inside: avoid;
        }

        .line-item-row>td {
            vertical-align: top;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .line-item-row>td:last-child {
            text-align: right;
        }

        .summary-amount>td:not(:first-child) {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        /* Some summary amounts have a subtitle. Change padding to accomodate */
        .summary-amount-withsubtitle>td:not(:first-child) {
            padding-top: 5px;
            padding-bottom: 0px;
        }

        .summary-amount-subtitle>td:not(:first-child) {
            padding-top: 0px;
            padding-bottom: 5px;
        }

        /* row borders */

        .line-item-row>td {
            border-top: 1px solid #EBEBEB;
        }

        .table-headers+.line-item-row>td {
            border-top: 1px solid #000000;
        }

        .summary-amount-border>td:not(:first-child) {
            border-top: 1px solid #EBEBEB;
            /* light gray */
        }

        .summary-amount-border.dark-top-border>td:not(:first-child) {
            border-top: 1px solid #000000;
        }

        /* metadata */
        .metadata tr:first-child td {
            font-weight: 600;
        }

        .metadata td:first-child {
            padding-right: 8px;
        }

        .metadata td {
            white-space: nowrap;
            font-weight: 500;
        }

        .maintain-newlines {
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break: break-word;
        }

        .avoid-page-break {
            page-break-inside: avoid;
        }

        .break-before-page {
            break-before: page;
        }
    </style>
    <style>
        body {
            font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

        /* manually specify both regular, medium and semibold fonts because of a gondrian bug https://github.com/wkhtmltopdf/wkhtmltopdf/issues/2884 */
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin="true">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link rel="stylesheet" href="./pdf_files/css2">
</head>

<body>
    <div class="width-100">
        <div style="height: 40px;" class="width-100">
            <div style="height: 4px; background-color: #525f7f;" class="width-100 brand-color-header">
                &nbsp;
            </div>
        </div>
    </div>
    <div style="
        margin-left: 40px;
        margin-right: 40px;
        overflow:hidden;
        min-height: 700px;
      ">
        <div class="flex-horizontal flex-justify flex-align-start width-100">
            <div>
                <div class="h1 mb20">
                    Invoice
                </div>
                <div class="mb20">
                    <table cellpadding="0" cellspacing="0" class="metadata" style="">
                        <tbody>
                            <tr>
                                <td>
                                    Invoice number
                                </td>
                                <td>
                                    <%= invoiceNumber %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Date of issue
                                </td>
                                <td>
                                    <%= dateOfIssue %>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="brand-logo-container ">
                <img class="logo-img brand-logo-img"
                    src="https://teefi.io/_next/static/media/teefi_logo.46e99e30.svg" />
            </div>
            <div class="brand-logo-fallback-container hidden">
                <div class="h1 logo-gray">
                    TeeFi
                </div>
            </div>
        </div>
        <div class="flex-horizontal flex-align-start mb30 break-word">
            <div class="width-50">
                <div class="address-merchant-name bold">
                    From
                </div>
                <div class="address-lines">
                    <div>
                        <%= companyName %>
                    </div>
                    <div>
                        <%= companyAddress %>
                    </div>
                </div>
            </div>
            <div class="flex-horizontal width-50">
                <div class="
                  pr15
                  width-100
                ">
                    <div class="bold">
                        Bill to
                    </div>
                    <div>
                        <%= customerName %>
                    </div>
                    <div class="address-lines">
                        <%= customerEmail %>
                    </div>
                    <% if (customerAddress) { %>
                        <div class="address-lines">
                            <%= customerAddress %>
                        </div>
                        <% } %>

                </div>
            </div>
        </div>
        <!-- <div class="mb30">
            <div class="h2">
                <%= productTitle %>
            </div>
        </div> -->
        <table cellpadding="0" cellspacing="0" class="line-item-table mb30" style="border-collapse: collapse;">
            <tbody>
                <tr class="table-headers">
                    <td class="width-50 center-valign">
                        Description
                    </td>
                    <td class="width-16point7 center-valign">
                        &nbsp;
                    </td>
                    <td class="width-16point7 center-valign">
                        <div class="line-height-1point3">
                            &nbsp;
                        </div>
                    </td>
                    <td class="width-0 center-valign">
                    </td>
                    <td class="width-16point7 center-valign align-right">
                        <div class="line-height-1point3">
                            Amount
                        </div>
                    </td>
                </tr>
                <tr style="border-top: 1pt solid black;">
                    <td colspan="5">&nbsp;
                    </td>
                </tr>

                <tr>
                    <td class="width-50 center-valign">
                        <span style="font-weight: bold;">
                            <%= productName %>
                        </span>
                        <br />
                        <%= productDuration %>
                    </td>
                    <td class="width-16point7 center-valign">
                        &nbsp;
                    </td>
                    <td class="width-16point7 center-valign">
                        <div class="line-height-1point3">
                            &nbsp;
                        </div>
                    </td>
                    <td class="width-0 center-valign">
                    </td>
                    <td class="width-16point7 center-valign align-right">
                        <div class="line-height-1point3">
                            <%= amount %>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td colspan="4">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td colspan="4">&nbsp;
                    </td>
                </tr>
                <tr class="summary-amount-border ">
                    <td>
                    </td>
                    <td colspan="4">
                    </td>
                </tr>
                <tr class="summary-amount ">
                    <td>
                    </td>
                    <td colspan="3">
                        Total
                    </td>
                    <td class="align-right">
                        <%= total %>
                    </td>
                </tr>
                <tr class="summary-amount-border ">
                    <td>
                    </td>
                    <td colspan="4">
                    </td>
                </tr>
                <tr class="summary-amount ">
                    <td>
                    </td>
                    <td colspan="3">
                        Paid Amount
                    </td>
                    <td class="align-right">
                        <%= paidAmount %>
                    </td>
                </tr>

                <tr class="summary-amount bold">
                    <td>
                    </td>
                    <td colspan="3">
                        Amount Due (USD)
                    </td>
                    <td class="align-right">
                        <%= amountDue %>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pb30 avoid-page-break">
        </div>
        <div class="fs-10">
        </div>
    </div>
    <div class="mt20 pt20 light-gray-border-top fs-10 line-height-140" style="
          padding-bottom: 40px;
          margin-left: 40px;
          margin-right: 40px;
          overflow:hidden;
        ">
        <div class="mt20">
            <div class="flex-horizontal flex-justify">
                <div class="nowrap">
                    <%= invoiceInfo %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>